/* Чим ми займаємось */

.activity {
  padding-top: 0;

  &__tittle {
    margin: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    color: var(--title-text-color);
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: rgba(47, 48, 58, 0.8);
  }

  &__description {
    margin: 0;
    padding: 27px 0;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: var(--primary-white-color);
  }
}

img {
  display: block;
}
