/* Клієнти */
.clients .clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-list .clients-item {
    max-width: 170px;
}

.clients-item .item-icon {
    height: 60px;
    width: 106px;
}

.clients-list .link {
    display: block;
    padding: 16px 32px;
    fill: var(--icon-fill-color);
    border: 1px solid #afb1b8;
    border-radius: 4px;
    font-size: 0;

    transition: fill 250ms var(--transition-timing-function),
        border-color 250ms var(--transition-timing-function);
}

.clients-list .link:hover,
.clients-list .link:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
}
