/* Секція про переваги компанії */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-tittle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.feature-list {
  display: flex;
  gap: 30px;

  &__thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    background-color: var(--secondary-bcg-color);
    margin-bottom: 30px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__tittle {
    margin: 0;
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 0;
  }
}
