/* Футер */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bcg-color);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.address {
    margin-top: 20px;
}

.address .link {
    color: var(--footer-contact-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms var(--transition-timing-function);
}

.address .item:not(:first-child) {
    margin-top: 9px;
}

.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}

.address .map {
    color: var(--primary-white-color);
}

.footer .thumb {
    margin-left: 70px;
}

.social-list-tittle {
    margin: 0;
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer .social-list {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
}

.footer .social-list .link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: var(--primary-white-color);
    font-size: 0;

    transition: background-color 250ms var(--transition-timing-function);
}

.footer .social-item .link:hover,
.footer .social-item .link:focus {
    background-color: var(--accent-color);
}

.footer .mailing {
    margin-left: 95px;
}

.mailing-form {
    display: flex;
    width: 570px;
    margin-top: 20px;
}

.mailing-form .form-label {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.mailing .description {

    font-weight: 700;
    line-height: 1.14;
    color: var(--primary-white-color);
    text-transform: uppercase;
}

.form-label .form-input {
    height: 50px;
    padding: 15px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: inherit;
    color: var(--primary-white-color);

    transition: border 250ms var(--transition-timing-function);
}

.form-label .form-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.form-label .form-input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px var(--bcg-color);
    -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
}

.form-label .form-input:hover,
.form-label .form-input:focus {
    border: 1px solid var(--primary-white-color);
}